<!DOCTYPE html>
<html lang="fr" data-bs-theme="dark">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vincent Vann - Portfolio</title>

  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/14273d579a.js" crossorigin="anonymous"></script>
</head>

<body>
  <header class="py-4">
    <nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand text-uppercase fw-bold" href="#">
          <span class="bg-danger bg-gradient p-1 rounded-3 text-light">Vincent</span> Vann
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#vincent">Qui suis-je ?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#expertise">Expertises</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>

    <section id="vincent" class="my-5">
      <div class="container">
        <div class="row gy-4 align-items-center">
          <div class="col-12 col-md-6">
            <h1 class="fw-bold">Je suis <b class="fw-bold">Vincent Vann</b> Développeur Fullstack - Java/Angular</h1>
            <h2 class="fw-light">Bienvenue sur mon portfolio!</h2>
            <a href="#expertise" class="btn btn-danger mt-5">Mon expertise web</a>
          </div>
          <div class="col-12 col-md-6">
            <img src="headshot.png" alt="Vincent Vann" width="90%" class="rounded-3 shadow">
          </div>
        </div>
      </div>
    </section>

    <!-- Expertise -->
    <section id="expertise" class="py-5 bg-light">
      <div class="container">
        <h2 class="mb-0">Mon expertise</h2>
        <h3 class="fw-light fs-5">Conception et développement d'application web</h3>
        <!-- Developpement -->
        <div class="row align-items-center gy-4 mt-4">
          <div class="col-12 col-md-7">

            <!-- Progress bar -->
            <div class="mb-3 p-3 bg-white rounded-3 shadow-sm">
              <div class="row align-items-center">
                <div class="col-6 col-sm-5 col-lg-4 col-xl-3">
                  <div class="d-flex align-items-center">
                    <i class="fab fa-angular fa-2x me-3 text-danger"></i>
                    <p class="fw-bold m-0">Angular</p>
                  </div>
                </div>
                <div class="col">
                  <div class="progress" data-bs-toggle="tooltip" title="75%">
                    <div class="progress-bar bg-warning w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                      aria-valuemax="100">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="mb-3 p-3 bg-white rounded-3 shadow-sm">
              <div class="row align-items-center">
                <div class="col-6 col-sm-5 col-lg-4 col-xl-3">
                  <div class="d-flex align-items-center">
                    <i class="fab fa-java fa-2x me-3 text-danger"></i>
                    <p class="fw-bold m-0">Java</p>
                  </div>
                </div>
                <div class="col">
                  <div class="progress" data-bs-toggle="tooltip" title="100%">
                    <div class="progress-bar bg-warning w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                      aria-valuemax="100">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="mb-3 p-3 bg-white rounded-3 shadow-sm">
              <div class="row align-items-center">
                <div class="col-6 col-sm-5 col-lg-4 col-xl-3">
                  <div class="d-flex align-items-center">
                    <i class="fab fa-node-js fa-2x me-3 text-danger"></i>
                    <p class="fw-bold m-0">Nodejs</p>
                  </div>
                </div>
                <div class="col">
                  <div class="progress" data-bs-toggle="tooltip" title="75%">
                    <div class="progress-bar bg-warning w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                      aria-valuemax="100">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="mb-3 p-3 bg-white rounded-3 shadow-sm">
              <div class="row align-items-center">
                <div class="col-6 col-sm-5 col-lg-4 col-xl-3">
                  <div class="d-flex align-items-center">
                    <i class="fab fa-dev fa-2x me-3 text-danger"></i>
                    <p class="fw-bold m-0">PostgreSql</p>
                  </div>
                </div>
                <div class="col">
                  <div class="progress" data-bs-toggle="tooltip" title="75%">
                    <div class="progress-bar bg-warning w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                      aria-valuemax="100">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="mb-3 p-3 bg-white rounded-3 shadow-sm">
              <div class="row align-items-center">
                <div class="col-6 col-sm-5 col-lg-4 col-xl-3">
                  <div class="d-flex align-items-center">
                    <i class="fab fa-bootstrap fa-2x me-3 text-danger"></i>
                    <p class="fw-bold m-0">Bootstrap</p>
                  </div>
                </div>
                <div class="col">
                  <div class="progress" data-bs-toggle="tooltip" title="75%">
                    <div class="progress-bar bg-warning w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                      aria-valuemax="100">
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="col-12 offset-md-1 col-md-4">
            <img src="code.jpeg" alt="écran montrant du code js" width="100%" class="rounded-3 shadow">
          </div>
        </div>

        <!-- Design -->
        <div class="row align-items-center gy-4 mt-4">
          <div class="col-12 col-md-4">
            <img src="design.jpg" alt="écran montrant des designs" width="100%" class="rounded-3 shadow">
          </div>
          <div class="col-12 order-first offset-md-1 col-md-7 order-md-last">

            <!-- Progress bar -->
            <div class="mb-3 p-3 bg-white rounded-3 shadow-sm">
              <div class="row align-items-center">
                <div class="col-6 col-sm-5 col-lg-4 col-xl-3">
                  <div class="d-flex align-items-center">
                    <i class="fab fa-figma fa-2x me-3 text-danger"></i>
                    <p class="fw-bold m-0">Figma</p>
                  </div>
                </div>
                <div class="col">
                  <div class="progress" data-bs-toggle="tooltip" title="75%">
                    <div class="progress-bar bg-warning w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                      aria-valuemax="100">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="mb-3 p-3 bg-white rounded-3 shadow-sm">
              <div class="row align-items-center">
                <div class="col-6 col-sm-5 col-lg-4 col-xl-3">
                  <div class="d-flex align-items-center">
                    <i class="fas fa-photo-video fa-2x me-3 text-danger"></i>
                    <p class="fw-bold m-0">Suite Adobe</p>
                  </div>
                </div>
                <div class="col">
                  <div class="progress" data-bs-toggle="tooltip" title="50%">
                    <div class="progress-bar bg-warning w-50" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                      aria-valuemax="100">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="mb-3 p-3 bg-white rounded-3 shadow-sm">
              <div class="row align-items-center">
                <div class="col-6 col-sm-5 col-lg-4 col-xl-3">
                  <div class="d-flex align-items-center">
                    <i class="fas fa-palette fa-2x me-3 text-danger"></i>
                    <p class="fw-bold m-0">Design UI</p>
                  </div>
                </div>
                <div class="col">
                  <div class="progress" data-bs-toggle="tooltip" title="75%">
                    <div class="progress-bar bg-warning w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                      aria-valuemax="100">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="mb-3 p-3 bg-white rounded-3 shadow-sm">
              <div class="row align-items-center">
                <div class="col-6 col-sm-5 col-lg-4 col-xl-3">
                  <div class="d-flex align-items-center">
                    <i class="fas fa-vial fa-2x me-3 text-danger"></i>
                    <p class="fw-bold m-0">UML</p>
                  </div>
                </div>
                <div class="col">
                  <div class="progress" data-bs-toggle="tooltip" title="50%">
                    <div class="progress-bar bg-warning w-50" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                      aria-valuemax="100">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      </div>

    </section>

    <section id="portfolio" class="py-5">
      <div class="container">
        <h2 class="mb-0">Mon portfolio</h2>
        <h3 class="fw-light fs-5">Projets perso</h3>

        <div class="row gy-4 gy-md-0 mt-4">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
              <img src="habit.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">HabitQuest</h5>
                <p class="card-text">Application web d’habit tracker mêlant des éléments de RPG (Role-Play Game)
                  s’inspirant de Habitica</p>
                <a class="btn btn-danger" href="https://www.youtube.com/watch?v=SiChNyHa2Io" target="_blank">Trailer</a>
                <a class="btn btn-danger" href="https://habiti-quest-d0bc061322cb.herokuapp.com/" target="_blank">En savoir plus</a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
              <img src="capchat3.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Cap'chat</h5>
                <p class="card-text">App web de gestion et génération de Captcha à partir d’un set d’images accessible à partir d’une url</p>
                <a class="btn btn-danger" href="https://github.com/vincenz-cdf/node-capchat" target="_blank">Github</a>
                <a class="btn btn-danger" data-bs-toggle="offcanvas" data-bs-target="#infoProjet2"
                aria-controls="infoProjet2">En savoir plus</a>
              </div>
              <div class="offcanvas offcanvas-bottom h-100" tabindex="-1" id="infoProjet2"
                aria-labelledby="titelProjet2">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="titelProjet1">Cap'chat</h5>
                  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <!-- Carousel -->
                  <div id="carouselProject2" class="carousel slide shadow h-100" data-bs-ride="carousel"
                    data-bs-touch="true">
                    <div class="carousel-inner h-100">
                      <div class="carousel-item h-100 active" data-bs-interval="10000">
                        <img src="capchat2.png" class="d-block w-100" alt="Image slide 1">
                      </div>
                      <div class="carousel-item h-100" data-bs-interval="2000">
                        <img src="capchat3.png" class="d-block w-100" alt="Image slide 2">
                      </div>
                      <div class="carousel-item h-100">
                        <img src="capchat1.png" class="d-block w-100" alt="Image slide 3">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselProject2"
                      data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselProject2"
                      data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
              <img src="todo.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Prototype Todo</h5>
                <p class="card-text">Application Todo List: ajout, édition, suppression de tâches, interface simple et intuitive pour organiser vos tâches quotidiennes</p>
                <a class="btn btn-danger" href="https://github.com/vincenz-cdf/angular-todo">Github</a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
              <img src="pomodoro.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Pomodoro</h5>
                <p class="card-text">La technique Pomodoro est une méthode de gestion du temps qui consiste à travailler pendant 25 minutes puis à prendre une pause de 5 minutes</p>
                <a class="btn btn-danger" href="https://vincenz-cdf.github.io/pomodoro/">En savoir plus</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="contact" class="py-5 bg-light">
      <div class="container">
        <h2 class="mb-0">Un projet de création web ?</h2>
        <h3 class="fw-light fs-5">Allons en discuter autour d'un café</h3>

        <div class="row gy-4 mt-4">
          <div class="col-12 col-md-5">
            <img src="cafe.png" alt="Image d'une tasse de café" width="100%" class="rounded-3 shadow">
          </div>
          <div class="col-12 offset-md-1 col-md-6">

            <!-- Formulaire -->
            <form class="row" action="/send-sms" method="POST">
              <div class="col-6 my-2">
                <label for="firstname" class="form-label">Prénom</label>
                <input name="firstname" type="text" class="form-control" id="firstname">
              </div>
              <div class="col-6 my-2">
                <label for="name" class="form-label">Nom</label>
                <input name="name" type="text" class="form-control" id="name">
              </div>
              <div class="col-12 my-2">
                <label for="email" class="form-label">Adresse email</label>
                <input name="email" type="email" class="form-control" id="email">
              </div>
              <div class="col-12 my-2">
                <label for="message" class="form-label">Message</label>
                <textarea name="message" class="form-control" id="message" rows="3"></textarea>
              </div>
              <div class="col-12 my-2">
                <button type="submit" class="btn btn-danger w-100">Envoyer</button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </section>

  </main>
  <footer class="border-top">
    <div class="container py-5">
      <div class="row gy-4 align-items-center">
        <div class="col-12 col-md-4">
          <a class="navbar-brand text-dark text-uppercase fw-bold" href="#">
            <span class="bg-danger bg-gradient p-1 rounded-3 text-light">Vincent</span> Vann
          </a>
        </div>
        <div class="col-12 col-md-4 text-md-center">
          <ul class="list-unstyled mb-0">
            <li>
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-4 text-md-end">
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/vincent-v-1946aa200/" class="text-decoration-none text-dark"
                target="_blank" data-bs-toggle="tooltip" title="LinkedIn">
                <i class="fab fa-linkedin fa-2x"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
      </script>
    <script>
      var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
      })
    </script>
  </footer>
</body>

</html>